@page "/"
@using Shop.Infrastructure.Catalog.Products.Dtos
@using Shop.Razor.Catalog
@using Shop.Razor.Shared.Components
@using Shop.Utilities
@inherits Shop.Razor.Shared.ShopPage

<PageTitle>Home</PageTitle>

<div class="content-container position-relative">
    <LoadingPanelComponent @ref="@_loadingPanel"/>
    <div class="d-flex flex-column align-items-stretch justify-content-start px-0 py-3 gap-3">
        <ProductSlider @ref="_featuredSlider" Title="Featured Products"/>
        <ProductSlider @ref="_salesSlider" Title="Hot Deals"/>
        <ProductSlider @ref="_sellingSlider" Title="Best Selling"/>
    </div>
</div>

@code 
{
    LoadingPanelComponent _loadingPanel = default!;
    ProductSlider _featuredSlider = default!;
    ProductSlider _salesSlider = default!;
    ProductSlider _sellingSlider = default!;
    ProductSpecialsDto _specials = ProductSpecialsDto.Empty();
    bool _parametersSet = false;

    protected override async Task OnAfterRenderAsync( bool firstRender )
    {
        await base.OnAfterRenderAsync( firstRender );
        if (_parametersSet)
            return;
        _parametersSet = true;
        _loadingPanel.ToggleLoading( true, "Loading product specials..." );
        var reply = await Http.GetAsync<ProductSpecialsDto>( Consts.ApiGetSpecials );
        if (!reply)
        {
            PushWarning( "Failed to load product specials." );
            _loadingPanel.ToggleLoading( false );
            return;
        }
        _specials = reply.Data;
        _featuredSlider.SetProducts( _specials.TopFeatured );
        _salesSlider.SetProducts( _specials.TopSales );
        _sellingSlider.SetProducts( _specials.TopSelling );
        _loadingPanel.ToggleLoading( false );
        StateHasChanged();
    }
}