@page "/confirm-email"
@using Shop.Infrastructure.Common.Optionals
@using Shop.Utilities
@inherits Shop.UI.Authentication.AuthenticationPageBase
@layout AuthenticationLayout

<PageTitle>Confirm Email</PageTitle>

<!-- WRAPPERS -->
<div class="content-container">
    <div class="auth-container">
        @if (confirmFailed) {
            <!-- MESSAGE -->
            <i class="fa-solid fa-circle-exclamation fa-4x text-danger auth-icon"></i>
            <h3 class="mb-3">Email Confirmation Failed!</h3>
            <p class="mb-3">Error Details: @apiReply.Message()</p>
            <p class="mb-3 text-muted">Please try again or contact support.</p>
            <!-- RESEND -->
            <button class="btn btn-info btn-icon" @onclick="GoToResend"><i class="fa fa-repeat me-2"></i>Retry</button>
        }
        else if (emailConfirmed) {
            <!-- MESSAGE -->
            <i class="fa-solid fa-circle-check fa-4x text-success auth-icon"></i>
            <h3 class="mb-3">Email Confirmed!</h3>
            <p class="mb-3 text-muted">Your account has been verified and you can now login normally.</p>
            <!-- LOGIN -->
            <button class="btn btn-primary btn-icon mx-auto px-3" @onclick="GoToLogin"><i class="fa fa-user me-2"></i>Login</button>
        }
    </div>
</div>

@code 
{
    [SupplyParameterFromQuery] string? Email { get; set; }
    [SupplyParameterFromQuery] string? Code { get; set; }
    
    bool emailConfirmed = false;
    bool confirmFailed = false;
    Opt<bool> apiReply;
    
    protected override async Task OnParametersSetAsync()
    {
        StartLoading( "Confirming email..." );

        if (!TryValidateLink( out string userId, out string code, out string errorMessage )) {
            PushError( errorMessage );
            StopLoading();
            return;
        }
        
        apiReply = await TryConfirmEmail( Urls.ApiConfirmEmail, userId, code );
        emailConfirmed = apiReply.IsOkay;
        confirmFailed = !emailConfirmed;
        StateHasChanged();
        StopLoading();
    }
    
    async Task<Opt<bool>> TryConfirmEmail( string url, string userId, string code ) =>
        await Http.TryPutRequest<bool>( url, new ConfirmEmailRequest( userId, code ) );
    bool TryValidateLink( out string userId, out string code, out string errorMessage )
    {
        userId = string.Empty;
        code = string.Empty;
        errorMessage = string.Empty;

        if (string.IsNullOrEmpty( Email )) {
            errorMessage = InvalidLinkMessage( nameof( Email ) );
            return false;
        }

        if (string.IsNullOrEmpty( Code )) {
            errorMessage = InvalidLinkMessage( nameof( code ) );
            return false;
        }

        userId = Email;
        code = Code;

        return true;

        static string InvalidLinkMessage( string parameter ) =>
            $"Failed to confirm email address. {parameter} is invalid.";
    }
    void GoToResend() => 
        Navigate( Urls.PageResendConfirm );
    void GoToLogin() => 
        Navigate( Urls.PageLoginOrRegister, true );
    
    readonly record struct ConfirmEmailRequest(
        string Email,
        string Code );
}