@page "/session-expired"
@using Shop.Utilities
@using Shop.UI.Shared
@inherits Shop.UI.Shared.ShopPage
@layout MainLayout

<PageTitle>Session Expired</PageTitle>

<!-- WRAPPERS -->
<div class="content-container">
    <div class="auth-container">
        <!-- TITLE -->
        <h3 class="mb-3">Your session has expired. Please login again.</h3>
        <!-- LOGIN -->
        <button class="btn btn-info btn-icon" @onclick="GoToLogin"><i class="fa fa-user me-2"></i>Login</button>
    </div>
</div>

@code {
    void GoToLogin() =>
        Navigate( Urls.PageLoginOrRegister );
}
