@using Shop.Utilities
<div class="content-container">
    <div class="auth-container">
        <h3>Access Denied</h3>
        <hr/>
        <p class="mb-1">You do not have permission to view this page. Please contact your administrator if you believe this is an error.</p>
        <a href="@Urls.PageHome">Return to Home</a>
    </div>
</div>

