@if (IsLoading)
{
    <div class="component-loader-spinner-container d-flex flex-column">
        <div class="component-loader-spinner"></div>
        <p class="text-dark">@GetMessage()</p>
    </div>   
}

@code 
{
    [Parameter] public string Message { get; set; } = string.Empty;
    [Parameter] public bool IsLoading { get; set; } = true;

    public void ToggleLoading( bool value, string? message = null )
    {
        IsLoading = value;
        Message = message ?? string.Empty;
        StateHasChanged();
    }

    string GetMessage() =>
        !string.IsNullOrEmpty( Message ) ? Message : "Loading...";

    const string HideCss = "d-none";
    const string ShowCss = "d-flex";
}