@inherits LayoutComponentBase
@using Shop.Infrastructure.Authentication
@using Shop.Infrastructure.Loading
@using Shop.Razor.Shared.Components
@using Shop.Razor.Shared.MainNavigation

<div class="page">
    <main>
        <NoficationsPanel @ref="@_notifications"/>
        <CascadingValue Value="@GetSelf()" name="layout">
            <MainNavigationTop/>
        </CascadingValue>
        <article class="content content-container">
            <div class="main-content">
                <CascadingValue Value="@GetSelf()" name="layout">
                    @Body
                </CascadingValue>
            </div>
        </article>
    </main>
</div>

@code
{
    [Inject] public AuthProvider Auth { get; set; } = null!;

    NoficationsPanel _notifications = default!;
    MainLayout GetSelf() => this;

    internal void PushAlert( AlertType type, string message )
    {
        _notifications.PushAlert( type, message );
    }
}