@inherits LayoutComponentBase
@layout MainLayout
@using Shop.UI.Shared
@using Shop.UI.Shared.Components

<div class="row">
    <div class="col-4">
        <nav>
        </nav>
    </div>
    <div class="col-8">
        <div class="mx-auto d-flex align-items-center justify-content-center">
            <LoadingPanel/>
        </div>
        <div class="page-content">
            @Body
        </div>
    </div>
</div>