@inherits LayoutComponentBase
@layout MainLayout
@using Shop.UI.Shared
@using Shop.UI.Shared.Components

<div class="row">
    <div class="col-4">
        <nav>
        </nav>
    </div>
    <div class="col-8">
        <LoadingPanel @ref="@_loadingPanel"/>
        <div class="page-content">
            @Body
        </div>
    </div>
</div>

@code {
    LoadingPanel _loadingPanel = default!;

    internal void StartLoadingComponent( string? message )
    {
        //_loadingPanel.StartLoading( message );
    }
    internal void StopLoadingComponent()
    {
        //_loadingPanel.StopLoading();
    }
}