@page "/orderPlaced"
@using Shop.Utilities

<!-- PENDING 2FA -->
<div class="content-container order-placed mt-3">
    <!-- MESSAGE -->
    <h1 class="mx-auto mb-3">Order Placed!</h1>
    <i class="fa-solid fa-circle-check fa-4x text-success mb-3 mx-auto"></i>
    <p class="text-secondary mb-3 mx-auto">Your order has been successfully placed. An email was sent with order details. You can check your dashboard and email for order updates.</p>
    <!-- ORDERS -->
    <a class="btn btn-full btn-success mb-2 mx-auto" href="@Consts.PageAccountOrders"><i class="fa fa-user me-2"></i>View Your Orders</a>
</div>