@inherits LayoutComponentBase
@using ShopWeb.Shared
@using ShopApplication.Common

<div class="page">
    <main>
        <PageLoader @ref="@loader"/>
        <AlertPanel @ref="@alert"/>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code 
{
    internal void StartRedirecting( int seconds, string? message = null )
    {
        loader.StartRedirecting( seconds, message );
    }
    internal void TickRedirect()
    {
        loader.TickRedirect();
    }
    internal void StartLoading( string? message = null )
    {
        loader.StartLoading( message );
    }
    internal void HideLoader()
    {
        loader.Hide();
    }
    internal void PushAlert( AlertType type, string message )
    {
        alert.PushAlert( type, message );
    }
    
    PageLoader loader = default!;
    AlertPanel alert = default!;
}