<div class="input-group top-nav-search">
    <input class="form-control top-nav-search-control" 
           @bind-value="@_searchText"
           type="search"
           list="products"
           @onkeyup="HandleSearch"
           placeholder="Search All Products..."
           @ref="_searchInputElement"/>
    <datalist id="products">
        @foreach ( string s in _suggestions )
        {
            <option>@s</option>
        }
    </datalist>
    <div class="input-group-append">
        <button class="btn btn-primary top-nav-search-button text-center" @onclick="SearchProducts">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span class="top-nav-search-button-text fw-bold">Search</span>
        </button>
    </div>
</div>

@code 
{
    [Inject] public NavigationManager Navigation { get; set; } = default!;
    
    ElementReference _searchInputElement;
    string _searchText = string.Empty;
    List<string> _suggestions = new();
    
    void SearchProducts()
    {
        Navigation.NavigateTo( "" );
    }
    async Task HandleSearch( KeyboardEventArgs args )
    {
        if (args.Key is null or "Enter") {
            SearchProducts();
            return;
        }


        /*ServiceReply<List<string>?> reply = await ProductService.GetProductSearchSuggestions( _searchText );
        
        if ( reply.Data is null || !reply.Success )
        {
            _suggestions = new List<string>();
            return;
        }

        _suggestions = reply.Data;*/
    }
}