@using Shop.Utilities
@using Shop.Infrastructure.Http

<div class="input-group top-nav-search">
    <input class="form-control top-nav-search-control" 
           type="search"
           list="products"
           placeholder="Search All Products..."
           @bind-value="@_searchText"
           @onkeyup="HandleSearch"
           @ref="_searchInputElement"/>
    <datalist id="products">
        @foreach ( string s in _suggestions )
        {
            <option>@s</option>
        }
    </datalist>
    <div class="input-group-append">
        <button class="btn top-nav-search-button text-center b-primary text-white" @onclick="SearchProducts">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span class="top-nav-search-button-text fw-bold">Search</span>
        </button>
    </div>
</div>

@code 
{
    [Inject] public HttpService Http { get; set; } = default!;
    [Inject] public NavigationManager Navigation { get; set; } = default!;
    
    ElementReference _searchInputElement;
    string _searchText = string.Empty;
    List<string> _suggestions = [];
    TimeSpan _delayTimeSpan = TimeSpan.FromMilliseconds( 500 );
    DateTime _lastFetch;
    Timer? _timer;
    
    void SearchProducts()
    {
        Navigation.NavigateTo( $"{Consts.PageProductSearch}?SearchText={_searchText}", true );
    }
    async Task HandleSearch( KeyboardEventArgs args )
    {
        if (args.Key is null or "Enter") 
        {
            SearchProducts();
            return;
        }

        if (DateTime.Now - _lastFetch < _delayTimeSpan)
        {
            _timer?.Dispose();
            _timer = new Timer( async _ => await GetSuggestions(), null, _delayTimeSpan, TimeSpan.MaxValue );
            return;
        }

        await GetSuggestions();
    }

    async Task GetSuggestions()
    {
        var parameter = new Dictionary<string, object>() { { "searchText", _searchText } };
        var reply = await Http.GetAsync<List<string>>( Consts.ApiGetSuggestions, parameter );

        if (!reply)
            return;

        _suggestions = reply.Data;
        StateHasChanged();
    }
}