@inherits LayoutComponentBase
@using ShopApplication.Types
@using ShopPresentation.Shared

<div class="page">
    <main>
        <PageLoader @ref="@_loader"/>
        <AlertPanel @ref="@_alert"/>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code 
{
    internal void SetLoadingState( LoadingState state )
    {
        _loader.SetLoadingState( state );
    }
    internal void PushAlert( AlertType type, string message )
    {
        _alert.PushAlert( type, message );
    }
    
    PageLoader _loader = default!;
    AlertPanel _alert = default!;
}