/* CART */
/* ------------------------------------------------------------------------------------------*/
:root {
    --cart-image-size-lg: 250px;
}

/* CART-CONTAINER */
.cart-container {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media only screen and (min-width: 480px) {
    .cart-container {
        flex-direction: row;
    }
}

/* CART-ITEMS */
.cart-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.cart-items-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-height: 60px;
    border-bottom: 1px solid lightgray;
}

.cart-item-buttons {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 8px;
    min-height: 50px;
    max-height: 50px;
    padding-left: 16px;
    padding-right: 16px;
}

.cart-item-buttons > * {
    flex: 1;
}

.cart-delete-button {
    max-width: 50%;
}

@media only screen and (min-width: 480px) {
    .cart-items .product-card {
        flex-direction: row;
    }
    
    .cart-items .product-card-inner {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .cart-items .product-image, .cart-items .product-image img {
        min-width: var(--cart-image-size-lg);
        max-width: var(--cart-image-size-lg);
        min-height: var(--cart-image-size-lg);
        max-height: var(--cart-image-size-lg);
    }

    .cart-items .product-shipping-pricing, .cart-items .product-rating-brand {
        min-width: 300px;
        max-width: 300px;
    }
    
    .cart-items .product-shipping-pricing {
        flex-direction: row;
    }

    .cart-items .product-shipping {
        width: 100%;
        text-align: end;
    }
}

/* CART-CHECKOUT */
.cart-checkout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    padding: 16px;
}

.cart-checkout-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-height: 60px;
    margin-bottom: 16px;
    border-bottom: 1px solid lightgray;
}

.cart-checkout-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.cart-checkout-section :nth-child(2n) {
    font-weight: bold;
}

@media only screen and (min-width: 480px) {
    .cart-checkout {
        min-width: 30%;
        max-width: 30%;
    }
}