/* SEARCH LIST */
/* ------------------------------------------------------------------------------------------*/
.search-list {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

/* @ 480px */
@media only screen and (min-width: 480px) {
    .search-list {
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: auto;
    }
}

/* @ 992px */
@media only screen and (min-width: 992px) {
    .search-list {
        min-width: 1250px;
        max-width: 1250px;
    }
}

/* HEADER */
/* ------------------------------------------------------------------------------------------*/
.search-header-wrapper {
    width: 100vw;
    border-bottom: 1px solid lightgray;
    margin-bottom: 0;
    background-color: var(--white);
}

.search-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-top: 16px;
    padding-bottom: 16px;
}

.search-header-breadcrumb {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}

.search-header-sort-buttons {
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 10px;
}

.search-header-filters {
    display: block;
    margin-top: 8px;
}

.search-header-info {
    margin-bottom: 8px;
}

/* @ 992px */
@media only screen and (min-width: 992px) {
    .search-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .search-header-breadcrumb {
        margin-bottom: 0;
    }

    .search-header-sort-buttons {
        width: auto;
        margin-bottom: 0;
    }
    .search-header-filters {
        display: none;
        margin-top: 0;
    }

    .search-header-info {
        margin-bottom: 0;
    }
}

/* BODY */
/* ------------------------------------------------------------------------------------------*/
.search-body {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

@media only screen and (min-width: 992px) {
    .search-body {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
    
    .search-body-main {
        display: flex;
        flex-direction: column;
        justify-self: end;
        flex-grow: 0;
        flex-shrink: 1;
        max-width: 100%;
    }
}

/* FILTERS */
/* ------------------------------------------------------------------------------------------*/

.search-filters {
    display: none;
}

/* SHARED */
.search-filters .btn {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

.search-filters-btn-main {
    width: 100%;
    text-align: center;
}

.search-filters label {
    display: flex;
    margin-bottom: 8px;
}

.search-filters input[type="checkbox"] {
    width: 20px;
    height: 20px;
    transform: scale(1.2);
    margin-right: 16px;
    text-align: right;
}

/* CONTAINER */
.search-filters {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: none;
    flex-direction: column;
    padding: 24px;
    text-align: left;
    background-color: var(--white);
}

/* TOP */
.search-filters-top {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 0;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}

/* TITLE */
.search-filters-top-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.search-filters-title {
    font-weight: bold;
    margin-bottom: 0;
}

/* CLOSE */
.search-filters-close {
    display: block;
}

/* CLEAR */
.search-filters-clear {
    margin-bottom: 16px;
}

/* BODY */
.search-filters-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    border-bottom: 1px solid lightgray;
}

/* HEADER */
.search-filters-header {
    margin: 0;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}

.search-filters-header span {
    font-weight: bold;
}

/* BODY */
.search-filters-body {
    flex-direction: column;
    align-items: stretch;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
}

.search-filters-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.search-filters-list li {
    margin: 0;
    padding: 0;
}

/* MEDIA QUERY */
@media only screen and (min-width: 992px) {
    .search-filters {
        display: flex;
        position: relative;
        z-index: 5;
        flex-direction: column;
        min-width: 300px;
        width: 300px;
        height: 100%;
        min-height: 400px;
        max-height: 800px;
        padding-left: 0;
        background-color: transparent;
        border-bottom: 1px solid lightgray;
    }

    .search-filters-close {
        display: none;
    }
}

/* PRODUCT DETAILS */
/* ------------------------------------------------------------------------------------------*/
.product-details {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 24px;
}

/* CATEGORIES */
.product-categories-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 24px 8px;
    text-align: justify;
    border-bottom: 1px solid lightgray;
}

.product-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.product-category {
    display: inline-block;
    margin-bottom: 4px;
}

/* DESCRIPTION */
.product-description {
    padding: 24px 8px;
    text-align: justify;
    border-bottom: 1px solid lightgray;
}

.product-description p {
    font-size: smaller;
}

/* XML */
.product-xml {
    margin-bottom: 24px;
    padding: 24px 8px;
    border-bottom: 1px solid lightgray;
}

.product-xml-wrapper {
    max-height: 450px;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid lightgray;
}

.product-xml .table {
    width: 100%;
    table-layout: fixed;
}

.product-xml th {
    padding: 16px;
    font-size: small;
    background-color: white;
}

.product-xml td {
    white-space: normal;
    word-wrap: break-word;
    font-size: small;
    padding: 16px;
}

/* SLIDERS */
.product-details-sliders {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    margin-bottom: 24px;
    padding-left: 8px;
    padding-right: 8px;
}

/* @ 480 */
@media only screen and (min-width: 480px) {
    .product-categories-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .product-categories-title {
        margin-bottom: 0;
    }
    
    .product-categories {
        overflow-x: scroll;
        flex-wrap: nowrap;
        min-width: 70%;
        max-width: 70%;
    }

    .product-category {
        flex-wrap: nowrap;
        white-space: nowrap;
        margin-bottom: 0;
    }
}

/* PRODUCT SLIDER */
/* ------------------------------------------------------------------------------------------*/
.product-slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
    min-width: 100%;
    max-width: 100%;
    padding: 16px 16px;
    border-radius: 5px;
    background-color: var(--cyan-dark-1);
}

.product-slider-button {
    display: none;
}

.product-slider {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
}

.product-slider-heading {
    margin-bottom: 16px;
    padding-top: 8px;
    text-align: left;
    font-weight: 400;
    font-size: xx-large;
    text-decoration: underline;
    color: var(--white);
}

.product-slider-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 24px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

@media (min-width: 992px) {
    .product-slider-container {
        padding: 16px 0;
    }
    .product-slider-button {
        display: block;
        font-size: 2rem;
        padding: 10px 10px;
        margin: 0;
    }

    .product-slider-list {
        overflow-x: auto;
        padding-bottom: 0;
    }
}