/* HEADER */
/* ------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------*/
.search-header-wrapper {
    width: 100vw;
    border-bottom: 1px solid lightgray;
    margin-bottom: 0;
}

.search-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-top: 16px;
    padding-bottom: 16px;
}

.search-header-breadcrumb {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}

.search-header-sort-buttons {
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 10px;
}

.search-header-filters {
    display: block;
    margin-top: 8px;
}

.search-header-info {
    margin-bottom: 8px;
}

/* @ 992px */
@media only screen and (min-width: 992px) {
    .search-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .search-header-breadcrumb {
        margin-bottom: 0;
    }

    .search-header-sort-buttons {
        width: auto;
        margin-bottom: 0;
    }
    .search-header-filters {
        display: none;
        margin-top: 0;
    }

    .search-header-info {
        margin-bottom: 0;
    }
}

/* BODY */
/* ------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------*/
.search-body {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 992px) {
    .search-body {
        flex-direction: row;
        justify-content: stretch;
    }
}

/* FILTERS */
/* ------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------*/

/* SHARED */
.search-filters .btn {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

.search-filters-btn-main {
    width: 100%;
    text-align: center;
}

.search-filters label {
    display: flex;
    margin-bottom: 8px;
}

.search-filters input[type="checkbox"] {
    width: 20px;
    height: 20px;
    transform: scale(1.2);
    margin-right: 16px;
    text-align: right;
}

/* CONTAINER */
.search-filters {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: none;
    flex-direction: column;
    padding: 24px;
    text-align: left;
    background-color: rgb(245, 245, 245);
}

/* TOP */
.search-filters-top {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 0;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}

/* TITLE */
.search-filters-top-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.search-filters-title {
    font-weight: bold;
    margin-bottom: 0;
}

/* CLOSE */
.search-filters-close {
    display: block;
}

/* CLEAR */
.search-filters-clear {
    margin-bottom: 16px;
}

/* BODY */
.search-filters-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    border-bottom: 1px solid lightgray;
}

/* HEADER */
.search-filters-header {
    margin: 0;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}

.search-filters-header span {
    font-weight: bold;
}

/* BODY */
.search-filters-body {
    flex-direction: column;
    align-items: stretch;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
}

.search-filters-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.search-filters-list li {
    margin: 0;
    padding: 0;
}

/* MEDIA QUERY */
@media only screen and (min-width: 992px) {
    .search-filters {
        display: flex;
        position: relative;
        z-index: 5;
        flex-direction: column;
        min-width: 350px;
        width: 350px;
        height: 100%;
        min-height: 400px;
        max-height: 800px;
    }

    .search-filters-close {
        display: none;
    }
}

/* LIST */
/* ------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------*/
.search-list {
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-list > * {
    border-bottom: 1px solid lightgray;
}

/* SEARCH ITEM */
.search-item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: transparent;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* IMAGE */
.search-item-img {
    flex: 0 0 auto;
    margin-right: 16px;
}

.search-item-img img {
    max-width: 150px;
    height: 100%;
    object-fit: fill;
}

/* BODY */
.search-item-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* TITLE */
.search-item-title {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgray;
    text-decoration: none;
    color: black;
}

.search-item-title * {
    margin: 0;
}

.search-item-title:hover {
    text-decoration: underline;
    color: #0d6efd;
}

/* RATING */
.search-item-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0;
}

/* BRAND */
.search-item-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: small;
}

.search-item-brand .btn {
    padding: 0;
}

/* SHIPPING */
.search-item-shipping {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.search-item-shipping small {
    display: block;
    font-size: x-small;
    text-align: right;
}

/* PRICING */
.search-item-pricing {
    display: flex;
    flex-direction: row;
}

.search-item-price {
    font-size: x-large;
    font-weight: bold;
    line-height: 1;
}

/* CART */
.search-item-cart-button {
    width: 100%;
    margin: 0;
}

.search-item-cart-button i {
    margin-right: 8px;
}

/* @ 480px */
@media only screen and (min-width: 480px) {
    .search-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .search-list > * {
        border-right: 1px solid lightgray;
    }

    .search-list > :nth-child(4n-3) {
        border-left: 1px solid lightgray;
    }
    
    .search-item {
        flex-direction: column;
        align-items: stretch;
        min-width: 49%;
        max-width: 49%;
        padding: 24px;
    }
    
    .search-item-body {
        padding-left: 4px;
        padding-right: 4px;
    }

    .search-item-img {
        min-width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 16px;
    }

    .search-item-img img {
        max-width: 100%;
        height: 100%;
    }

    .search-item-btn {
        margin-bottom: 0;
    }
}

/* @ 992px */
@media only screen and (min-width: 992px) {
    .search-list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
    }
    
    .search-item {
        min-width: 24%;
        max-width: 24%;
    }
}

/* PRODUCT DETAILS */
/* ------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------*/

/* CONTAINER */
.product-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 24px;
}

/* TOP */
.product-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid lightgray;
}

/* IMAGE */
.product-top-image {
    max-width: 500px;
    width: 100%;
    height: auto;
    padding: 8px;
}

.product-top-image img {
    max-width: 100%;
    height: 100%;
    border-radius: 0;
}

/* MAIN */
.product-top-main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

/* TITLE */
.product-title {
    margin-bottom: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    align-self: stretch;
    text-align: start;
    font-size: 36px;
    border-bottom: 1px solid lightgray;
}

.product-top-main-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

/* SUMMARY */
.product-summary {
    display: flex;
    flex-direction: column;
}

/* RATING-BRAND */
.product-rating-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* RATING */
.product-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0;
}

/* BRAND */
.product-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-size: small;
}

.product-brand button {
    padding: 0;
    background-color: transparent;
    color: #0a58ca;
    text-decoration: underline;
}

/* PRICING-SHIPPING */
.product-pricing-shipping {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 16px;
}

/* PRICING */
.product-pricing {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.product-price {
    font-size: x-large;
    font-weight: bold;
    line-height: 1;
}

/* SHIPPING */
.product-shipping {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: right;
}

.product-shipping .btn {
    padding: 0;
    margin: 0;
    font-size: small;
    text-decoration: none;
}

.product-shipping small {
    display: block;
    font-size: x-small;
    text-align: right;
}

/* LOCATION */
.product-location-fields {
    display: flex;
    flex-direction: row;
}

/* CART */
.product-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 16px;
}

.product-cart button {
    width: 50%;
    height: 50px;
}

.product-cart i {
    margin-right: 8px;
}

/* DESCRIPTION */
.product-description {
    padding: 24px 8px;
    text-align: justify;
    border-bottom: 1px solid lightgray;
}

.product-description p {

}

/* XML */
.product-xml {
    padding-top: 24px;
    padding-left: 8px;
    padding-right: 8px;
}

.product-xml-wrapper {
    max-height: 450px;
    overflow-x: auto;
    overflow-y: auto;
}

.product-xml .table {
    width: 100%;
    table-layout: fixed;
}

.product-xml td {
    white-space: normal;
    word-wrap: break-word;
}

/* @ 992px */
@media only screen and (min-width: 992px) {
    .product-container {
        padding: 0;
        margin-top: 24px;
    }
    .product-top {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        padding-left: 8px;
        padding-right: 8px;
    }
    .product-top-image {
        min-width: 450px;
        max-width: 450px;
        padding: 0;
    }

    .product-top-main {
        align-self: start;
    }

    .product-title {
        padding-left: 0;
        padding-right: 0;
    }

    .product-top-main-content {
        padding: 0;
    }
}