/* SHARED */
.top-nav-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.top-nav-search-button-text {
    display: none;
}

.top-nav-category-header {
    font-weight: bold;
    padding: 0.75rem 15px;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    border-top: 1px solid #e6e6e6;
}

.top-nav-search-control, .top-nav-search-button {
    height: 40px;
    max-height: 40px;
}

@media only screen and (min-width: 900px) {
    .top-nav-search-control, .top-nav-search-button {
        height: 50px;
        max-height: 50px;
        padding: 10px;
    }

    .top-nav-search-button-text {
        display: inline-block;
        margin-right: 10px;
    }
}

/* MOBILE */
.top-nav-mobile-top button, .top-nav-mobile-top a, .top-nav-mobile-top img {
    height: 50px;
    max-height: 50px;
}

.top-nav-mobile {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

.top-nav-mobile-top {
    padding-top: 5px;
    padding-bottom: 10px;
}

.top-nav-mobile-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.nav-sidebar {
    position: absolute;
    top: 0;
    min-width: 100vw;
    max-width: 100vw;
    height: auto;
    z-index: 100;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: white;
}

.nav-sidebar-header {
    font-weight: bold;
    padding: 0.75rem 15px;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    border-top: 1px solid #e6e6e6;
}

.nav-sidebar .nav-item {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #e6e6e6;
}

/* DESKTOP */
.top-nav-upper button, .top-nav-upper a, .top-nav-upper img {
    height: 25px;
    max-height: 25px;
}

.top-nav-lower button, .top-nav-lower a, .top-nav-lower img {
    height: 50px;
    max-height: 50px;
}

.top-nav-upper {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

.top-nav-lower {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.top-nav-upper-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
.top-nav-upper-left a {
    text-decoration: none;
    text-align: center;
    color: black;
}

.top-nav-upper-left a:hover {
    color: #1b6ec2;
}

.top-nav-upper-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
}

.top-nav-upper-right-label {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: end;
}

.top-nav-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    padding-left: 5px;
    padding-right: 5px;
}

.top-nav-button:hover * {
    color: #1b6ec2;
}

.top-nav-user-options {
    position: absolute;
    top: 1.5em;
    height: auto;
    z-index: 100;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: white;
    border: 1px solid lightgray;
}

.top-nav-user-options ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0 10px;
}

.top-nav-user-options li {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    text-align: left;
    text-decoration: none;
}

.top-nav-user-options a {
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

.top-nav-categories-button:hover {
    text-decoration: underline;
}

.top-nav-categories-wrapper {
    position: absolute;
    background: white;
    border: 1px solid lightgray;
}