.content-container {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

/* Container styling */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    z-index: 9999; /* High z-index to overlay other content */
}

/* Spinner styling */
.loading-circle {
    border: 8px solid rgba(0, 0, 0, 0.1); /* Light grey border */
    border-top: 8px solid #3498db; /* Blue border for the spinner */
    border-radius: 50%; /* Circular shape */
    width: 60px; /* Width of the spinner */
    height: 60px; /* Height of the spinner */
    animation: spin 1s linear infinite; /* Infinite spinning animation */
}

/* Keyframes for the spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg); /* Initial state */
    }
    100% {
        transform: rotate(360deg); /* Full rotation */
    }
}

/* Message styling */
.loading-container p {
    margin-top: 20px; /* Space above the message */
    font-size: 1.2em; /* Larger font size */
    color: #333; /* Dark grey text color */
}

@media only screen and (min-width: 1400px) {
    .content-container {
        padding-left: 0;
        padding-right: 0;
    }
}

.btn-submit {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.btn-submit:hover {
    color: white;
    background-color: #1669c9;    
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}


.rating-star-full {
    color: #f5ba18;
}

.rating-star-empty {
    color: #848484;
}

body {
    /*background-color: #e2d9f3;*/
    background-color: rgb(245, 245, 245);
}

/* Style for form input */
input,
textarea {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Inset shadow */
    /*outline: none;  Remove outline */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transition for smooth effect */
}

/* Style for when input is focused */
input:focus,
textarea:focus {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 5px rgba(102, 175, 233, 0.6); /* Inset shadow and outer glow on focus */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 16px;
}

hr {
    min-height: 1px;
    border-bottom: 1px solid dimgrey;
}

.c-primary {
    color: #6a10f3;
}

.c-secondary {
    color: #616160;
}

.c-success {
    color: #169191;
}

.c-alert {
    color: #e8c031;
}

.c-danger {
    color: #a31234;
}

.b-primary {
    /*background: linear-gradient(to bottom right, #8e13fd, #6a10f3);*/
    background: linear-gradient(to bottom right, #8c68cd, #8540f5);
    /*background-color: #8c68cd;*/
}

.b-secondary {
    background: linear-gradient(to bottom right, #b0b0b0, #616160);
}

.b-success {
    background: linear-gradient(to bottom right, #3fe3e1, #169191);
}

.b-alert {
    background: linear-gradient(to bottom right, #f3e089, #e8c031);
}

.b-danger {
    background: linear-gradient(to bottom right, #e4486b, #a31234);
}