/* CUSTOM COLORS */
/* ------------------------------------------------------------------------------------------*/
:root {
    --primary: rgb(0, 113, 133);
    --orange: #de7921;
    --bg-cyan-dark-1: #032830;
    --bg-cyan-dark-2: #055160;
    --white: #ffffff;
    --yellow: #ffcd39;
}

/* BASE ELEMENTS */
/* ------------------------------------------------------------------------------------------*/
html, body {
    font-family: Arial, sans-serif;
    color: #212121;
}

body {
    background-color: var(--white);
}

/* Style for form input */
input,
textarea {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Style for when input is focused */
input:focus,
textarea:focus {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 5px rgba(102, 175, 233, 0.6); /* Inset shadow and outer glow on focus */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 16px;
}

h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus {
    outline: none;
}

hr {
    min-height: 1px;
    border-bottom: 1px solid dimgrey;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--orange) !important;
}

.text-primary {
    color: var(--primary) !important;
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

/*.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}*/

/* BUTTONS */
/* ------------------------------------------------------------------------------------------*/
.btn-submit {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.btn-submit:hover {
    color: white;
    background-color: #1669c9;
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-link {
    color: var(--primary) !important;
}

.btn-outline-primary {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

/* CONTENT CONTAINER */
/* ------------------------------------------------------------------------------------------*/
.content-container {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}
@media only screen and (min-width: 1400px) {
    .content-container {
        padding-left: 0;
        padding-right: 0;
    }
}

/* LOADER */
/* ------------------------------------------------------------------------------------------*/
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
}
.loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1); /* Light grey border */
    border-top: 8px solid #3498db; /* Blue border for the spinner */
    border-radius: 50%; /* Circular shape */
    width: 60px; /* Width of the spinner */
    height: 60px; /* Height of the spinner */
    animation: spin 1s linear infinite; /* Infinite spinning animation */
}
@keyframes spin {
    0% {
        transform: rotate(0deg); /* Initial state */
    }
    100% {
        transform: rotate(360deg); /* Full rotation */
    }
}
.loading-container p {
    margin-top: 20px; /* Space above the message */
    font-size: 1.2em; /* Larger font size */
    color: #333; /* Dark grey text color */
}

/* BLAZOR */
/* ------------------------------------------------------------------------------------------*/

.invalid {
    outline: 1px solid #bc2929;
}

.validation-message {
    color: #bc2929;
}

#blazor-error-ui {
    background: gray;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

code {
    color: #c02d76;
}