/* CUSTOM COLORS */
/* ------------------------------------------------------------------------------------------*/
:root {
    --primary: rgb(0, 113, 133);
    --orange: #de7921;
    --cyan-dark-1: #032830;
    --cyan-dark-2: #022026;
    --white: #ffffff;
    --yellow: #ffcd39;
    --green1: #479f76;
    --green2: #198754;
}

/* BASE ELEMENTS */
/* ------------------------------------------------------------------------------------------*/
html, body {
    font-family: Arial, sans-serif;
    color: #212121;
}

body {
    background-color: var(--white);
}

/* Style for form input */
input,
textarea {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Style for when input is focused */
input:focus,
textarea:focus {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 5px rgba(102, 175, 233, 0.6); /* Inset shadow and outer glow on focus */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 16px;
}

h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus {
    outline: none;
}

hr {
    min-height: 1px;
    border-bottom: 1px solid dimgrey;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--orange) !important;
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

/*.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}*/

/* BOOTSTRAP OVERRIDES */
/* ------------------------------------------------------------------------------------------*/

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-outline-primary {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-primary:hover {
    background-color: var(--orange) !important;
    border-color: var(--orange) !important;
}

.btn-outline-primary:hover  {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-success {
    background-color: var(--green1) !important;
    border-color: var(--green1) !important;
}

.btn-success:hover  {
    background-color: var(--green2) !important;
    border-color: var(--green2) !important;
}

.btn-outline-success {
    color: var(--green1) !important;
    border-color: var(--green1) !important;
}

.btn-outline-success:hover {
    color: var(--green2) !important;
    border-color: var(--green2) !important;
}

.btn-link {
    color: var(--primary) !important;
}

.btn-link:hover {
    color: var(--orange) !important;
}

.btn-link-dark {
    color: black !important;
}

.btn-link-dark:hover, .btn-link-dark:hover * {
    color: var(--orange) !important;
}

.btn-link-light {
    color: var(--white) !important;
}

.btn-link-light:hover, .btn-link-light:hover * {
    color: var(--orange) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-success {
    color: var(--green1) !important;
}

/* CONTENT CONTAINER */
/* ------------------------------------------------------------------------------------------*/

.content-container {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (min-width: 1400px) {
    .content-container {
        padding-left: 0;
        padding-right: 0;
    }
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.btn-full {
    margin: 0;
    padding: 12px;
    min-width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-radius: 5px;
}

/* LOADER */
/* ------------------------------------------------------------------------------------------*/

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
}

.loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1); /* Light grey border */
    border-top: 8px solid #3498db; /* Blue border for the spinner */
    border-radius: 50%; /* Circular shape */
    width: 60px; /* Width of the spinner */
    height: 60px; /* Height of the spinner */
    animation: spin 1s linear infinite; /* Infinite spinning animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg); /* Initial state */
    }
    100% {
        transform: rotate(360deg); /* Full rotation */
    }
}

.loading-container p {
    margin-top: 20px; /* Space above the message */
    font-size: 1.2em; /* Larger font size */
    color: #333; /* Dark grey text color */
}

/* BLAZOR */
/* ------------------------------------------------------------------------------------------*/

.invalid {
    outline: 1px solid #bc2929;
}

.validation-message {
    color: #bc2929;
}