.user-container-small {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    width: 100%;
    max-width: 500px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.user-container-large {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    width: 100%;
    max-width: 800px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.account-nav {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    min-width: 100%;
    width: 100%;
}

.account-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    overflow-x: scroll;
}

.account-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.auth-result-wrapper {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.auth-result-icon {
    text-align: center;
    margin-bottom: 16px;
}

.user-table-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-table-top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* VIEW ORDERS */
/* ------------------------------------------------------------------------------------------*/

.view-order-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.view-orders-table-row:hover {
    cursor: pointer;
}

.view-order-container-column-left, .view-order-container-column-right {
    display: flex;
    flex-direction: column;
}

.view-order-container-column-left > *, .view-order-container-column-right > * {
    display: block;
    width: 100%;
}

.view-order-container-column-left > * {
    text-align: left;
}

.view-order-container-column-right > * {
    text-align: right;
}

.view-order-line-items {
    max-height: 400px;
    overflow-y: auto;
}

.view-order-line-items * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
    display: inline-block;
}