.user-container-small {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.user-container-large {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.account-nav {
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    width: 100%;
}

.account-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 100%;
}

.account-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.auth-result-wrapper {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.auth-result-icon {
    text-align: center;
    margin-bottom: 16px;
}

@media only screen and (min-width: 900px) { 
    .account-nav-list {
        flex-direction: row;
    }
}