@using Shop.UI.Shared
@using Shop.UI.Shared.Components
@inherits LayoutComponentBase
@layout MainLayout

<div class="row">
    <div class="col-12">
        <LoadingPanel @ref="@_loadingPanel"/>
        <div class="page-content">
            <CascadingValue Value="@this">
                @Body
            </CascadingValue>
        </div>
    </div>
</div>

@code {
    LoadingPanel _loadingPanel = default!;

    internal void StartLoading( string? message )
    {
        _loadingPanel.StartLoading( message );
    }
    internal void StopLoading()
    {
        _loadingPanel.StopLoading();
    }
}