@page "/resendEmailConfirmation"
@using Shop.Utilities
@using Shop.Infrastructure.Common.ReplyTypes
@inherits AuthenticationPageBase
@layout  AuthenticationLayout

<PageTitle>Resend Confirmation Email</PageTitle>

@if (_isSuccess) {
    <div class="auth-result-wrapper">
        <!-- MESSAGE -->
        <i class="fa-solid fa-circle-check fa-4x auth-result-icon c-primary"></i>
        <h3>Email confirm link sent!</h3>
        <p>Please click the link sent to your email to activate your account.</p>
        <!-- RESEND -->
        <button class="btn btn-submit btn-icon c-primary" @onclick="GoToResend">
            <i class="fa fa-repeat me-2"></i>Retry
        </button>
    </div>
}
else {
    <!-- TITLE -->
    <h3>Resend Email Confirmation</h3>
    <p class="text-secondary">Enter Your Email</p>
    <!-- FORM -->
    <EditForm Model="Request" FormName="resend-email-confirmation" OnValidSubmit="SendConfirmationEmail" method="post">
        <DataAnnotationsValidator/>
        <ValidationSummary class="text-danger" role="alert"/>
        <!-- EMAIL -->
        <div class="form-floating mb-3">
            <InputText type="email" @bind-Value="@Request.Email" id="email" class="form-control" aria-required="true" placeholder="name@example.com"/>
            <label for="email" class="form-label">Email</label>
            <ValidationMessage For="@(() => Request.Email)" class="text-danger"/>
        </div>
        <!-- SUBMIT -->
        <button type="submit" class="btn btn-submit btn-icon b-primary">
            <i class="fa fa-envelope me-2"></i>Send Email
        </button>
    </EditForm>
}

@code {
    [SupplyParameterFromForm]
    ResendConfirmationRequest Request { get; set; } = new();
    
    bool _isSuccess = false;

    async Task SendConfirmationEmail()
    {
        StartLoading( "Sending reset link..." );

        Reply<bool> result = await TrySendEmail();

        if (!result) {
            PushError( result, "Failed to send reset link." );
            StopLoading();
            return;
        }
        
        PushSuccess( "Confirmation email link has been sent. Check your email." );
        _isSuccess = true;
        StateHasChanged();
        StopLoading();
    }
    async Task<Reply<bool>> TrySendEmail() => 
        await Http.PutAsync<bool>( Consts.ApiResendConfirm, Request );
        
    sealed class ResendConfirmationRequest
    {
        public string Email { get; set; } = string.Empty;
        
        public static ResendConfirmationRequest With( string email ) =>
            new() {
                Email = email
            };
    }

    void GoToResend() =>
        Navigate( Consts.PageEmailConfirmResend, true );
}