@page "/sessionExpired"
@using Shop.Utilities
@inherits AuthenticationPageBase
@layout  AuthenticationLayout

<PageTitle>Session Expired</PageTitle>

<div class="auth-result-wrapper">
    <!-- TITLE -->
    <h3>Your session has expired. Please login again.</h3>
    <i class="fa-solid fa-triangle-exclamation fa-4x text-warning mb-0"></i>
    <hr/>
    <!-- LOGIN -->
    <a class="btn btn-full btn-primary" ahref="@Consts.PageLoginOrRegister">
        <i class="fa fa-sign-in me-2"></i>
        Login
    </a>
</div>