@page "/sessionExpired"
@using Shop.Utilities
@inherits AuthenticationPageBase
@layout  AuthenticationLayout

<PageTitle>Session Expired</PageTitle>

<!-- TITLE -->
<h3 class="mb-3">Your session has expired. Please login again.</h3>
<!-- LOGIN -->
<button class="btn btn-submit btn-info btn-icon" @onclick="GoToLogin"><i class="fa fa-sign-in me-2"></i>Login</button>

@code {
    void GoToLogin() =>
        Navigate( Consts.PageLoginOrRegister );
}
