@using System.ComponentModel.DataAnnotations
@using Shop.Infrastructure.Common
@using Shop.Infrastructure.Common.Optionals
@using Shop.Utilities
@inherits Shop.Shared.PageComponent

<PageTitle>Forgot your password?</PageTitle>

@if (isSuccess) {
    <h1>Password reset link sent!</h1>
    <h2>Please check your email.</h2>
    <p><button class="btn btn-link" @onclick="GoHome">Click Here</button> to return to the homepage.</p>
}
else {
    <h1>Forgot your password?</h1>
    <h2>Enter your email.</h2>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="Request" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync" method="post">
                <DataAnnotationsValidator/>
                <ValidationSummary class="text-danger" role="alert"/>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="@Request.Email" id="email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                    <label for="email" class="form-label">Email</label>
                    <ValidationMessage For="@(() => Request.Email)" class="text-danger"/>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Send Reset Email</button>
            </EditForm>
        </div>
    </div>
}

@code
{
    [SupplyParameterFromForm] PasswordForgotRequest Request { get; } = new();
    
    bool isSuccess = false;
    
    async Task OnValidSubmitAsync()
    {
        StartLoading( "Sending reset link..." );

        Opt<bool> result = await TrySendResetLink();
        
        isSuccess = result.IsOkay();
        
        if (!isSuccess)
            PushError( result, "Failed to send reset link." );
        
        StateHasChanged();
        StopLoading();
    }
    async Task<Opt<bool>> TrySendResetLink() =>
        await Http.TryPostRequest<bool>( Urls.ApiForgotPassword, Request );

    sealed class PasswordForgotRequest
    {
        [Required, EmailAddress]
        public string Email { get; set; } = string.Empty;
    }
}