@inherits LayoutComponentBase
@using Shop.Infrastructure.Common

<div class="page">
    <main>
        <AlertPanel @ref="@alert"/>
        
        @if (isPageLoading) {
            <PageLoader @ref="@loader"/>   
        }
        else {
            <article class="content px-4">
                <NavBar/>
                @Body
            </article>   
        }
    </main>
</div>

@code
{
    internal void StartRedirecting( int seconds, string? message = null )
    {
        loader.StartRedirecting( seconds, message );
        isPageLoading = true;
        StateHasChanged();
    }
    internal void TickRedirect()
    {
        loader.TickRedirect();
    }
    internal void StartLoading( string? message = null )
    {
        loader.StartLoading( message );
        isPageLoading = true;
        StateHasChanged();
    }
    internal void StopLoading()
    {
        loader.Hide();
        isPageLoading = false;
        StateHasChanged();
    }
    internal void PushAlert( AlertType type, string message )
    {
        alert.PushAlert( type, message );
    }
    
    PageLoader loader = default!;
    AlertPanel alert = default!;
    bool isPageLoading = false;
}