@inherits LayoutComponentBase
@using Shop.Infrastructure.Common
@using Shop.UI.Shared.Components
@using Shop.UI.Shared.MainNavigation

<div class="page">
    <main>
        <NoficationsPanel @ref="@notifications"/>
        <MainNavigationTop/>
        <article class="content content-container">
            <div class="main-content">
                <CascadingValue Value="@GetSelf()" name="layout">
                    @Body
                </CascadingValue>
            </div>
        </article>
    </main>
</div>

@code
{
    NoficationsPanel notifications = default!;
    MainLayout GetSelf() => this;
    
    internal void PushAlert( AlertType type, string message )
    {
        notifications.PushAlert( type, message );
    }
}