@inherits ShopWeb.Shared.PageComponentOld

<h1>Account Deleted</h1>
<p>Your account and all associated data has been deleted.</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}