@using Shop.Utilities
@inherits Shop.Shared.PageComponent

<h3>Account Deleted</h3>

<hr/>

<p>Your account and all associated data has been deleted.</p>
<p><button class="btn btn-link" @onclick="GoHome">Click Here</button> to return to the homepage.</p>
