@page "/account/deleted"
@using Shop.Utilities
@using Shop.Razor.Shared
@layout MainLayout

<!-- WRAPPERS -->
<div class="content-container">
    <div class="auth-container">
        <!-- CONTENT -->
        <i class="fa-solid fa-circle-check fa-4x text-success auth-icon"></i>
        <h1>Account Deleted</h1>
        <hr/>
        <p class="text-secondary">We’re sorry to see you go. If you have any feedback or need further assistance, please contact our support team.</p>
        <div class="mt-3">
            <a href="@Urls.PageHome" class="btn btn-submit">Return to Home</a>
            <a href="#" class="btn btn-submit btn-secondary">Contact Support</a>
        </div>
    </div>
</div>