@page "/account/deleted"
@using Shop.Utilities
@using Shop.Razor.Shared
@layout MainLayout

<!-- WRAPPER -->
<div class="user-container-small">
    <div class="auth-result-wrapper">
            <i class="fa-solid fa-circle-check fa-4x auth-result-icon text-success mb-3"></i>
            <h1>Account Deleted</h1>
            <p class="text-secondary mb-0">We’re sorry to see you go. If you have any feedback or need further assistance, please contact our support team.</p>
            <hr/>
            <div class="d-flex flex-row align-items-center justify-content-between">
                <a href="@Consts.PageHome" class="btn btn-submit btn-outline-primary mb-2 text-center">Return to Home</a>
                <a href="@Consts.PageSupport" class="btn btn-submit btn-outline-secondary text-center">Contact Support</a>
            </div>
    </div>
</div>