@page "/account/deleted"
@using Shop.Utilities
@using Shop.Razor.Shared
@layout MainLayout

<i class="fa-solid fa-circle-check fa-4x text-success auth-icon"></i>
<h1>Account Deleted</h1>
<hr class="divider"/>
<p class="text-secondary">We’re sorry to see you go. If you have any feedback or need further assistance, please contact our support team.</p>
<div class="mt-3">
    <a href="@Consts.PageHome" class="btn btn-submit">Return to Home</a>
    <a href="#" class="btn btn-submit btn-secondary">Contact Support</a>
</div>