@page "/identity/confirm-email"
@using ShopApplication.Features.Identity
@using ShopApplication.Common
@using ShopApplication.Common.Optionals
@inherits PageBase

<PageTitle>Confirm Email</PageTitle>

@if (confirmFailed) {
    <h1>Email Confirmation Failed!</h1>
    <h2>Error Details: @apiReply.PrintDetails()</h2>
    <p>Please click <a href="@ResendLink">here</a> to try sending another confirmation link, or contact support.</p>
}
else if (emailConfirmed) {
    <h1>Email Confirmed!</h1>
    <p>Your account has been verified and you can now <a href="@LoginLink">login</a> normally.</p>
}

@code 
{
    [SupplyParameterFromQuery] private string? Email { get; set; }
    [SupplyParameterFromQuery] private string? Code { get; set; }
    
    bool emailConfirmed = false;
    bool confirmFailed = false;
    Val<bool> apiReply;
    
    string LoginLink => IdentityUtils.GetApiUrl( "LoginOrRegister", Configuration );
    string ResendLink => IdentityUtils.GetApiUrl( "Resend", Configuration );
    
    protected override async Task OnInitializedAsync()
    {
        StartLoading( "Confirming email..." );
        
        if (!ValidateLink( out string userId, out string code ))
            return;
        
        string url = IdentityUtils.GetApiUrl( "Confirm", Configuration );
        apiReply = await TryConfirmEmail( url, userId, code );
        emailConfirmed = apiReply.IsSuccess();
        confirmFailed = !emailConfirmed;
        
        StateHasChanged();
        StopLoading();
    }
    
    bool ValidateLink( out string userId, out string code )
    {
        bool invalidUser = string.IsNullOrEmpty( Email );
        if (invalidUser)
            PushAlert( AlertType.Danger, $"Failed to confirm email address. {nameof( Email )} is invalid." );

        bool invalidCode = string.IsNullOrEmpty( Code );
        if (invalidCode)
            PushAlert( AlertType.Danger, $"Failed to confirm email address. {nameof( Code )} is invalid." );

        userId = Email ?? string.Empty;
        code = Code ?? string.Empty;
        
        return !(invalidUser || invalidCode);
    }
    async Task<Val<bool>> TryConfirmEmail( string url, string userId, string code )
    {
        Val<bool> reply = await Http.TryPutValRequest<bool>( 
            url, new ConfirmEmailRequest(userId, code ) );
        return reply;
    }

    readonly record struct ConfirmEmailRequest(
        string Email,
        string Token );
}