@page "/identity/forgot-password"
@using System.ComponentModel.DataAnnotations
@using ShopApplication.Common
@using ShopApplication.Common.Optionals
@using ShopApplication.Features.Identity
@inherits PageBase

<PageTitle>Forgot your password?</PageTitle>

@if (success) {
    <h1>Password reset link sent!</h1>
    <h2>Please check your email.</h2>
}
else {
    <h1>Forgot your password?</h1>
    <h2>Enter your email.</h2>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="Request" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync" method="post">
                <DataAnnotationsValidator/>
                <ValidationSummary class="text-danger" role="alert"/>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="@Request.Email" id="email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                    <label for="email" class="form-label">Email</label>
                    <ValidationMessage For="@(() => Request.Email)" class="text-danger"/>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Send Reset Email</button>
            </EditForm>
        </div>
    </div>
}

@code
{
    [SupplyParameterFromForm] PasswordForgotRequest Request { get; } = new();
    
    bool success = false;
    
    async Task OnValidSubmitAsync()
    {
        StartLoading( "Sending reset link..." );
        
        string url = IdentityUtils.GetApiUrl( "Forgot", Configuration );
        Val<bool> result = await Http.TryPostValRequest<bool>( url, Request );
        
        success = result.IsSuccess();
        
        if (!success)
            PushAlert( AlertType.Danger, $"Failed to send reset link: {result.PrintDetails()}" );
        
        StateHasChanged();
        StopLoading();
    }

    sealed class PasswordForgotRequest
    {
        [Required, EmailAddress]
        public string Email { get; set; } = "";
    }
}