@using Shop.Razor.Shared
@inherits LayoutComponentBase
@layout MainLayout

<div class="content-container">
    <div class="page-content position-relative">
        <LoadingPanel/>
        @Body
    </div>
</div>