@using Shop.Razor.Shared
@using Shop.Razor.Shared.Components
@inherits LayoutComponentBase
@layout MainLayout

<div class="content-container">
    <div class="user-container-small p-1">
        <LoadingPanel/>
        @Body
    </div>
</div>