@using Shop.Razor.Shared
@using Shop.Razor.Shared.Components
@inherits LayoutComponentBase
@layout MainLayout

<div class="content-container">
    <div class="user-container-small">
        <LoadingPanelPage/>
        @Body
    </div>
</div>