@page "/account/addresses"
@inherits PageComponent

<h3>ManageAddresses</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await CallStopLoading();
    }
}